<h1 style='color:red'>Operators In Python</h1>

1. Arithmatic Operators ( +, -, \* , /, %, //, \** )
2. Comparision Operators ( <, >, <=, >=, ==, != )
3. Logical Operators ( and, or, not )
4. Assignment Operator ( = )
5. Membership Operator ( in, not in )
6. Identity Operator ( is, is not )
7. Binary Operator

1. Airthmatic Operator

<p>
a) addition + <br/>
b) substraction - <br />
c) multiplication \* <br />
d) absolute division / <br />
e) modulas operator % <br />
f) inter division or floor division // <br />
g) power or exponent \** <br />
<p>

In [1]:
#Addition ( Binary Operator )
x = 5
y = 10
print(x+y)

15

In [2]:
s1 = "hello "
s2 = "world"
print(s1+s2)

hello world

In [3]:
l1 = [ 1,2,3,'hello','hi']
l2 = [ 3.14,'something','bye bye']
l3 = l1 + l2
print(l1)
print(l2)
print(l3)

[1, 2, 3, 'hello', 'hi']
[3.14, 'something', 'bye bye']
[1, 2, 3, 'hello', 'hi', 3.14, 'something', 'bye bye']

In [4]:
t1 = ( 1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t1)
print(t2)
print(t3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [6]:
d1 = { 'one': 'ek','hi':'hello' }
d2 = { 'two': 'do','bye':'bye bye'}
#d3 = d1 + d2 this operatin is not permitted in python 
print(d1)
print(d2)
#print(d3)

{'one': 'ek', 'hi': 'hello'}
{'two': 'do', 'bye': 'bye bye'}

In [8]:
s1 = { 1,2,3}
s2 = { 4,5,6}
print(s1)
print(s2)
#s3 = s1 + s2 not permitted
#print(s3)

{1, 2, 3}
{4, 5, 6}

#Substraction operator

In [9]:
x = 3
y = 7 
print(x)
print(y)
z = x - y 
print(z)

3
7
-4

In [10]:
x = 3
y = 3.15
z = 4.5+6.2j
print(x+y+z)

(10.65+6.2j)

In [12]:
#multiplication 

x = 1
y = 2.4
z = 3.14+4.5j
r = x*y*z
print(r)

(7.536+10.799999999999999j)

In [14]:
x = 22
y = 7
#absolute division /
z = x/y
print(z)
print(round(z))

3.142857142857143
3

In [15]:
x = 3.7
print(round(x))

4

In [26]:
x = 13
y = 7 
r = x/y
print(r)
print("%f"%(r))
print("%10.3f"%(r))

1.8571428571428572
1.857143
     1.857

In [27]:
x = 22
y = 7 
print("x = {}".format(x))
print("y = {}".format(y))
print("r = {:5.3}".format(x/y))

x = 22
y = 7
r =  3.14

In [31]:
x = 33
y = 13
#x = 33,y = 13, x/y = 2.22
print("x = {1}, y = {2}, x/y = {0}".format(x,y,x/y))

x = 13, y = 2.5384615384615383, x/y = 33

In [32]:
# 5 + 5 = 10
x = 5
y = x + x 
print("{1} + {1} = {0}".format(y,x))

5 + 5 = 10

In [33]:
3/4

0.75

In [36]:
#modulas operator ( remainder )
x = 26 % 7 
print(x)

5

In [37]:
#floor division (quotient on remainder) //
# floor division is used to provide integer division
x = 10 // 3
print(x)

3

In [38]:
#exponent **
# x ** y -> x to the power y
x = 2 ** 4 
print(x)

16

In [39]:
x = 5*6-23%3*2 #30-23%6 #30-5 # 25
print(x)

26

In [40]:
x = 7 ---- 3
print(x)

10

In [41]:
s = "Hello"
print(s*5)

HelloHelloHelloHelloHello

In [42]:
l = [1,2,3]
print(l*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
print("*"*60)
print("*"*60)
print()
print("Hello World".center(60))
print()
print("*"*60)
print("*"*60)

************************************************************
************************************************************

                        Hello World

************************************************************
************************************************************

In [45]:
l = []
s = [] * 5
print(s)
x = ''
x = ''*5
print(x)

[]

In [47]:
l = [ [1]*5 ]
print(l)

[[1, 1, 1, 1, 1]]

In [48]:
l = [ [],[],[],[],[] ]
k = [[]]*5
print(k)

[[], [], [], [], []]

<h1 style='color:#123456'>Comparison Operator

In [52]:
#numbers
print(4<5)
print(5<4)
print()
print(4<4)
print(5>5)
print(5==5)

True
False

False
False
True

In [54]:
print(4>=4)
print(4!=5)

True
True

# Logical Operator

In [59]:
# and , or , not ( unary operator )
#op1 and op2
# False -> None, 0, False
print(45 and 57)
print(0 and 57)
print(None and 'hello')
print(None and 0)

57
0
None
None

In [62]:
print( (3-4-1) and 4>5)
print( (2**3-7+3 and 8-9))

False
-1

In [71]:
#Truth table for and operatiorn
print("\top1\top2\tand\tor")
print()
x = True
y = False
print("\t{}\t{}\t{}\t{}".format(x,y,x and y, x or y))
print("\t{}\t{}\t{}\t{}".format(x,x,x and x, x or x))
print("\t{}\t{}\t{}\t{}".format(y,x,y and x, y or x))
print("\t{}\t{}\t{}\t{}".format(y,y,y and y, y or y))

	op1	op2	and	or

	True	False	False	True
	True	True	True	True
	False	True	False	True
	False	False	False	False

In [72]:
#Assignment o/p
#Assign value of right side operand left side operand 
x = 10
y = 1
z = 3
r = ( x+5**y/z*3-x*z ) and ( 5<6 or 7>=6 )
print(r)

True